<settings>
	<profiles>
		<profile>
			<id>upstream</id>
			<repositories>
				<repository>
					<id>jenkins</id>
					<url>${env.Jenkins.Repository}</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>jenkins</id>
					<url>${env.Jenkins.Repository}</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
</settings>